.div-index{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 450px;
    margin: 4% 31% auto 30%;
    border-radius: 9%;
    border-style: solid;
    border-color: rgb(17, 65, 110);
}
#body-index{
   background-image: url("../images/fondo_index.jpg");
}
h1{
    color:black;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    
}
.button-index{
    background-color:rgb(223, 223, 223);
    height: 80px;
    width: 200px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#btn_login{
    position: absolute;
    left: 41.5%;
    top: 42%;
      
}
#btn_registro{
    position: absolute;
    top: 65%;
    left: 41.5%;
    
}

th{
    width: 200px;
    height: 100px;
}
.tabla_img{
    position: relative;
    float: left;
    top: 25%;
    border-spacing: 50px;

}
.img-galeria{
   height: 190px;
   width: 370px;
   transition: transform 0.8s;

}
.img-galeria:hover{
    transform: scale(1.5);
    
}
#body-galeria{
    background-image: url("../images/fondo-galeria.jpg");

   
}


