th{
    width: 200px;
    height: 100px;
}
.tabla_img{
    position: relative;
    float: left;
    top: 25%;
    border-spacing: 50px;

}
img{
   height: 190px;
   width: 370px;

}
img:hover{
    transform: scale(1.5);
}
body{
    background-image: url("/images/fondo-galeria.jpg");
}
