.div-login {
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 450px;
  margin: 4% 31% auto 30%;
  border-radius: 9%;
  border-style: solid;
  border-color: rgb(17, 65, 110);
}
#body-index {
  background-image: url("../images/fondo_index.jpg");
}
#div-index{
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 200px;
  position: absolute;
  left: 30%;
  top: 25%;
  
  border-style: solid;
  border-color: rgb(17, 65, 110);
  text-align: left;
}
h1 {
  color: black;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 300%;
}
.a-index {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.959);
  padding: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 580px;
  height: 70px;
  transition: color , 0.4s ease-in-out;
}
#h1-index{
  position: absolute;
  left:350px;
}

#a-index-login {
  position: absolute;
  top: 0.05%;
  height: 80px;
  background-color:rgba(30, 143, 255, 0.335);
}
#a-index-login:hover{
  background-color:rgb(0, 225, 255);
}

#a-index-registro {
  position: absolute;
  top: 50%;
  height: 80px;
  background-color: rgba(0, 255, 0, 0.349);
}
#a-index-registro:hover{
  background-color: rgb(0, 255, 0);
}

th {
  width: 200px;
  height: 100px;
}
.tabla_img {
  position: relative;
  float: left;
  top: 25%;
  border-spacing: 50px;
}
.img-galeria {
  height: 190px;
  width: 370px;
  transition: transform 0.8s;
}
.img-galeria:hover {
  transform: scale(1.5);
}
.img-container {
  width: 372px;
  height: 192px;
  padding: 5px 5px 5px 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s;

}

.img-container:before {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  transition: opacity .1s ease-out;
  background-color: rgba(92, 3, 3, 0.609); 
  filter: blur(1.3px);
}

.img-container:hover:before { 
  opacity: 1;
}


.img-container:hover { 

  transform:  scale(1.1);

}

.img-container .text-container {
  width: inherit;
  right:10px;
  padding: 0;
  color: rgb(255, 255, 255);
  position: absolute;
  

}

.img-container:hover .text-container {
  top: 1%;
}

.titulo-tabla{
    font-size: 30px;
}

#body-galeria {
  background-image: url("../images/fondo-galeria.jpg");
}
#body-login {
  background-image: url("../images/fondo-login.jpg");
}
.div-ingreso-datos {
  position: relative;
  top: 3%;
  left: 22%;
  font-size: 25px;
  margin: 30px 0px 0px 0px;
}
#div-ingreso-login{
    position: absolute;
    top:8%;
    right: -1%;
}
.input-registro {
  height: 25px;
  width: 40px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.label-registro {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#username-reg {
    background-color: #94999c; 
  position: relative;
  left: 70px;
  width: 10%;
  transition: width, 0.5s ease-in-out;
}
#username-reg:focus {
  width: 40%;
  background-color: #ffffff;
}
#user-password-reg {
    background-color: #94999c; 
  position: relative;
  left: 31px;
  width: 10%;
  transition: width, 0.5s ease-in-out;
}
#user-password-reg:focus {
  width: 40%;
  background-color: #ffffff;

}
#user-email-reg {
  background-color: #94999c; 
  position: relative;
  left: 83px;
  width: 10%;
  transition: width, 0.5s ease-in-out;
}
#user-email-reg:focus {
  width: 40%;
  background-color: #ffffff;
}
.input-login {
    height: 25px;
    width: 40px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.label-login {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  #username {
    background-color: #94999c; 
  position: relative;
  left: 70px;
  width: 10%;
  transition: width, 0.5s ease-in-out;
}
#username:focus {
  width: 40%;
  background-color: #ffffff;
}
#user-password {
    background-color: #94999c; 
  position: relative;
  left: 31px;
  width: 10%;
  transition: width, 0.5s ease-in-out;
}
#user-password:focus {
  width: 40%;
  background-color: #ffffff;

}
#user-email {
  background-color: #94999c; 
  position: relative;
  left: 83px;
  width: 10%;
  transition: width, 0.5s ease-in-out;
}
#user-email:focus {
  width: 40%;
  background-color: #ffffff;
}
#p-login {
  font-size: 20px;
  position: relative;
  left: 23%;
  top: 29.8%;
}
#a-login {
  font-size: 20px;
  position: relative;
  top: 20%;
  left: 57%;
  color:black;
  text-decoration: none;
  
}
#a-login:hover {
  
  color: aqua;
}
#enter-login {
  background-color: rgb(207, 207, 207);
  padding: 10px;
  color: black;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  left: 47%;
  top: 62%;
  text-decoration: none;
  margin: 0;
  border: 2px solid;
}
#enter-login:hover {
  background-color: rgb(216, 215, 215);
}
#body-registro {
  background-image: url("../images/fondo-registro.jpg");
}
#div-ingreso-registro {
  background-color: rgb(255, 255, 255);
  width: 550px;
  height: 500px;
  position: absolute;
  left: 28%;
  top: 9%;
  border-radius: 9%;
  border-style: solid;
  border-color: rgb(17, 65, 110);
}
#a-registro {
  font-size: 20px;
  position: relative;
  top: 23%;
  left: 57%;
  text-decoration: none;
  color: rgb(56, 56, 56);
  margin: 0;
}
#a-registro:hover {
  color: rgb(0, 174, 255);
}
#p-registro {
  font-size: 20px;
  position: relative;
  top: 32%;
  left: 23%;
}

#a-submit-registro {
  background-color: rgb(207, 207, 207);
  padding: 10px;
  color: black;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  left: 44%;
  bottom: 27%;
  text-decoration: none;
  margin: 0;
  border: 2px solid;
}
#a-submit-registro:hover {
  background-color: rgb(216, 215, 215);
}
#forgot-password{
  border-color: black ;
  border: 0px solid;
  border-radius: 30%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 20px;
  position: absolute;
  right: 427px;
  top: 80%;
  width: 470px;
}
#forgot-password:hover{
  background-color: rgb(134, 131, 131);
  color:white ;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}
#div-login-forgot{
  display:none;
  
  
}
#div-username-forgot{
  top:90px;
}
#div-email-forgot{
  top:110px;
 
}
#enter-forgot{
  position: absolute;
  top: 65%;
  right: 45%;
  background-color: rgb(207, 207, 207);
  padding: 10px;
  color: black;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  margin: 0;
  border: 2px solid;
  display: none;
}
#enter-forgot:hover{
  background-color: rgb(216, 215, 215);
}
#username-forgot{
  background-color: #94999c; 
  width: 10%;
  margin-left: 9px;
  transition: width, 0.5s ease-in-out;
}
#username-forgot:hover{
  width: 40%;
  background-color: #ffffff;
}
#email-forgot{
  background-color: #94999c; 
  width: 10%;
  margin-left: 30px;
  transition: width, 0.5s ease-in-out;
}
#email-forgot:hover{
  width: 40%;
  background-color: #ffffff;
}
#div-menu-galeria{
  background-color: rgba(255, 0, 0, 0.609);
  width: 1350px;
  height: 40px;
  font-size: 30px;
  
}
#div-menu-registro-login{
  background-color: rgba(255, 255, 255, 0.609);
  width: 1350px;
  height: 40px;
  font-size: 30px;
} 
.a-galeria{
  margin-left: 60px;
  padding: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: background-color, 0.4s ease-in-out;
}
.a-galeria:hover{
  background-color: black;
  color: white;
  border-radius: 5%;
}
#body-about{
 background-image: url("../images/about-fondo.jpg");
}
.img-about{
  width: 300px;
  height: 300px;
}
#div1-about{
  background-color: rgba(255, 102, 0, 0.52);
  margin: 0px 0px 0px 0px;
}
#div2-about{
  background-color: rgba(255, 217, 0, 0.39);
  top: 50%;
}
#div3-about{
  background-color: rgba(17, 0, 255, 0.472);
  
  left: 50.5%;
  
}
.div-about{
  width: 666px;
  height: 300px;
  position: absolute;
}
#p-html{
  position: absolute;
  right: 10px;
  top:300px;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  
}
.img-container-about {
  width: 400px;
  height: 300px;
  padding: 5px 5px 5px 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s;

}

.img-container-about:before {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  transition: opacity .1s ease-out;
  background-color: rgba(3, 5, 92, 0.609); 
  filter: blur(1.3px);
}

.img-container-about:hover:before { 
  opacity: 1;
}


.img-container-about:hover { 

  transform:  scale(1.1);

}

.img-container-about .text-container {
  width: inherit;
  padding: 5px 15px;
  color: rgb(245, 238, 238);
  position: absolute;
  top: 100%; 

}

.img-container-about:hover .text-container {
  top: 1%;
}
#html5-img:before{
  background-color: rgba(209, 83, 10, 0.719);
}
#css-img:before{
  background-color: rgba(10, 47, 209, 0.609);
}
#js-img:before{
  background-color: rgba(255, 189, 6, 0.671);
}

#github{
  text-decoration: none;
  color:black;
}
#github:hover{
  color:rgb(0, 89, 255);
  
}
h2{
  margin:0;
  font-size:40px;
  position: absolute;
  top:20px;
  left:60px;
}
#img-about{
  height: 300px;
  width: 390px;
}
.tabla_img_about {
  position: relative;
  float: left;
  right: 10px;
  top: 25%;
  border-spacing: 40px;
}
#p-about{
  color: rgb(255, 255, 255);
  text-align:start;
  font-size:19px;
  
  
}
h4{
 position: relative;
 right:20px;
 color:black;
}
#div-description{
  
  font-size:20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color, 0.4s ease-in-out;
  height: 100px;
  padding: 2px;
}
#div-description:hover{
  background-color:#94999c8a;
}